body {
  font-family: helvetica;
  text-align: center;
}

.banner {
  background: url(./images/the-flatiron-building.png);
  background-color: #cccccc;
  color: white;
  display: block;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

.banner p {
  font-size: 18px;
  color: white;
}

a {
  color: white;
}

#process h2 {
  font-size: 32px;
  font-weight: bold;
}

.sub-heading_item h3 {
  font-size: 23px;
  font-weight: bold;
}

.sub-heading_item p {
  font-size: 14px;
}

.mini-banner {
  color: white;
  font-size: 23px;
  font-weight: bold;
  background: url(./images/the-flatiron-building.png)
}

.about p {
  font-size: 14px;
}

#footer {
  font-size: 11px;
  background-color: dimgrey;
  text-align: left;
}
